* {
    padding: 0;
    margin: 0;
}

/*Sección 1*/

body {
    height: 100%;
    background: #f0f0f0;
}

h1 {
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: 'Bebas Neue', cursive;
    font-size: 70px;
    font-style: italic;
    text-shadow: 7px 5px 5px black;
    color: white;
    align-content: center;
    padding-top: 30px;
    padding-left: 10px;
    padding-right: 10px;
      
}

.list-group {
    margin-bottom: 50px;
  
    
    a {
        display: flex;
        color: black;
        font-family: 'Bebas Neue', cursive;
        font-style: italic;
        justify-content: center;
        font-size: 25px;  
        background-color: #f0f0f0;
    }
}

h2 {
    display: flex;
    justify-content: center;
    align-content: center;
    margin-top: 30px;
    padding-left: 10px;
    padding-right: 10px;
    text-align: center; 
}

.video-di-maria {
    width: 100%;
    margin-top: 20px;
    padding-left: 10px;
    padding-right: 10px;
}

span {
    color: $color-primary;
}


.texto-di-maria {
    margin-top: 20px;
    font-style: italic;
    padding-left: 10px;
    padding-right: 10px;
   
}

.video-f1 {
    width:100%;
    margin-top: 20px;
    padding-left: 10px;
    padding-right: 10px;
}

.texto-f1 {
    margin-top: 20px;
    font-style: italic;
    padding-left: 10px;
    padding-right: 10px;
   
}

.imagen-barty {
    width:100%;
    margin-top: 20px;
    padding-left: 10px;
    padding-right: 10px;
}

.texto-barty {
    margin-top: 20px;
    font-style: italic;
    padding-left: 10px;
    padding-right: 10px;
   
}

.imagen-aramburu {
    width:100%;
    margin-top: 20px;
    padding-left: 10px;
    padding-right: 10px;
}

.texto-aramburu {
    margin-top: 20px;
    font-style: italic;
    padding-left: 10px;
    padding-right: 10px;
    margin-bottom: 50px;
}

/*Sección 2*/

.h2-seccion2 {
    display: flex;
    justify-content: center;
    align-content: center;
    margin-top: 30px;
    margin-bottom: 30px;
    padding-left: 10px;
    padding-right: 10px;
    text-align: center; 
}

.contenedor {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin: auto;
    margin-bottom: 50px;
    
    .noticias {
        background-color: white;
        width: 330px;
        height: 430px;
        border-radius: 8px;
        box-shadow: 0 2px 2px rgba(0, 0, 0, 0.2);
        overflow: hidden;
        margin: 20px;
        text-align: center;
        transition: all 0.25s;

        &:hover {
            transform: translateY(-15px);
            box-shadow: 0 12px 16px rgba(0, 0, 0, 0.2);
        
        }

        img {
            width: 330px;
            height: 220px;

        }

        h4 {
            margin-top: 5px;
            font-weight: 1000;
        }

        p {
            font-size: 16px;
            font-weight: 600;
            align-items: center;
            padding: 0 1rem
        }

        a {
            font-weight: 1000;
            text-decoration: none;
            color: #3498db;
        }
        

    }

}

/*Sección 3*/


.h2-tabla {
    color: $color-primary;
    border-style: none;
    font-size: 30px;
    
}

.h2-primera-fase {
    text-align: center;
    margin-bottom: 20px ;
}

.grid-wrapper-tb {
    display: grid;
    grid-template-columns: auto;
    grid-template-rows: auto;
    



}

.grupo-a {
    text-align: center;
    margin-bottom: 30px;
}

.tabla-de-posiciones {
    color:  black;
    background-color:#f0f0f0;
    border:  black;
    text-align: center;
    
}

tr:nth-child(even) {
    background-color: white;
    
}

.grupo-b {
    text-align: center;
    justify-content: center;
    margin-top: 30px;
    margin-bottom: 30px;
}

.tabla-de-posiciones-2 {
    @extend .tabla-de-posiciones;
    margin-bottom: 50px;
    
}

@mixin size {
    margin-bottom: 30px;
    width: auto;
    text-align: center;
    margin-top: 50px;
    
    
}

.seccion3-desempeño {
    @include size;
    
    
}

.seccion3-dt {
    @include size;
   
}

.btn-success {
    border: 1px solid;
    overflow: hidden;
    position: relative;
    
    &:after {
      background: white;
      content: "";
      height: 155px;
      left: -75px;
      opacity: .2;
      position: absolute;
      top: -50px;
      transform: rotate(35deg);
      transition: all 1s;
      width: 50px;
      
    }
}
  
.btn-success:hover {
    
    &:after {
      left: 120%;
      transition: all 1s;
    }
}

.btn-danger {
    border: 1px solid;
    overflow: hidden;
    position: relative;
    
    &:after {
      background: white;
      content: "";
      height: 155px;
      left: -75px;
      opacity: .2;
      position: absolute;
      top: -50px;
      transform: rotate(35deg);
      transition: all 1s;
      width: 50px;
      
    }
}
  
.btn-danger:hover {
    
    &:after {
      left: 120%;
      transition: all 1s;
    }
}


/*Sección 4*/

.charla-con-nosotros {
    margin-bottom: 30px;
}

.mb-3-4 {
    margin-left: 20%;
    margin-right: 20%;
    
}

.btn-4 {
    margin-top: 50px;
}
  

.envianos-tu-opinion {
    text-align: center;
    margin-bottom: 40px;
}

.seguinos-en-redes {
    text-align: center;
    margin-bottom: 50px;
}

section, section div {
    
    transition-duration: .6s;
}
  
  
section, .button { transition-timing-function: ease; }
  
  section {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    padding: .375rem .375rem 0;
    height: 2.5rem;
    background: #A9ADB6;
    border-radius: .25rem;
    perspective: 300;
    box-shadow: 0 -1px 2px #fff, inset 0 1px 2px rgba(0,0,0,.2), inset 0 .25rem 1rem rgba(0,0,0,.1);
    margin-bottom: 50px;
    margin-left: 10%;
    margin-right: 10%;
}
  
  
.button { opacity: 0; 
  
     a {
    font-family: 'Bebas Neue', cursive;
    font-style: italic;
    text-decoration: none;
    font-size: 30px;
    color:  #1DA1F2;
  }

}

.cover {
    position: absolute;
    top: 0; right: 0; bottom: 0; left: 0;
    transform-origin: center bottom;
    transform-style: preserve-3d;
    font: 1.25em/2 "icon";
    
    text-align: center;
    pointer-events: none;
    z-index: 100;
}
  
.innie, .outie, .spine, .shadow { position: absolute; width: 100%; }
  
  .innie, .outie {
    height: 100%;
    background-image: -webkit-linear-gradient(top, transparent 0%, rgba(0,0,0,.1) 100%);
    border-radius: .25rem;
}
  
.twitter-logo {
    width: 40px;
    height: 40px;
    filter: drop-shadow(0 1px 2px rgba(0,0,0,.25))
}
  
.innie {
    background-color: #67E2FE;
    text-shadow: 0 -2px 4px rgba(0,0,0,.2);
    
}
  
.spine {
    top: .25rem;
    background: #20C7F3;
    height: .25rem;
    transform: rotateX(90deg);
    transform-origin: center top;
}
  
.shadow {
    top: 100%;
    left: 0;
    height: 3.5rem;
    transform-origin: center top;
    transform: rotateX(90deg);
    opacity: 0;
    z-index: 0;
    background-image: -webkit-linear-gradient(top, rgba(0,0,0,.6) 0%, transparent 100%);
    background-image: linear-gradient(to bottom, rgba(0,0,0,.6) 0%, transparent 100%);
    border-radius: .4rem;
  
}
  
.outie {
    background-color: #1DA1F2;
    transform: translateZ(.25rem);
    text-shadow: 0 2px 4px rgba(0,0,0,.2);
}
  
section:hover { background: white; }
section:hover .button { opacity: 1; }
  
section:hover .cover, section:hover .innie, section:hover .spine, section:hover .outie, section:hover .spine { transition-timing-function: cubic-bezier(.2,.7,.1,1.1); }
  
section:hover .cover { transform: rotateX(-120deg);  }
  
section:hover .innie { background-color: #1DA1F2; }
section:hover .spine { background-color: #1DA1F2; }
section:hover .outie { background-color: #2174A0; color: rgba(255,255,255,0); }
  
section:hover .shadow { 
    opacity: 1;
    transform: rotateX(45deg) scale(.95);
}
  
.section-2, section div {
    
    transition-duration: .6s;
}
  
  
.section-2, .button { transition-timing-function: ease; }
  
.section-2 {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    padding: .375rem .375rem 0;
    height: 2.5rem;
    background: #A9ADB6;
    border-radius: .25rem;
    perspective: 300;
    box-shadow: 0 -1px 2px #fff, inset 0 1px 2px rgba(0,0,0,.2), inset 0 .25rem 1rem rgba(0,0,0,.1);
    margin-bottom: 50px;
    margin-left: 10%;
    margin-right: 10%;
}
  

.button-2 { opacity: 0; 
  
     a {
    font-family: 'Bebas Neue', cursive;
    font-style: italic;
    text-decoration: none;
    font-size: 30px;
    color: #4267B2;
  }

}
  
.cover-2 {
    position: absolute;
    top: 0; right: 0; bottom: 0; left: 0;
    transform-origin: center bottom;
    transform-style: preserve-3d;
    font: 1.25em/2 "icon";
    
    text-align: center;
    pointer-events: none;
    z-index: 100;
}
  
.innie-2, .outie-2, .spine-2, .shadow-2 { position: absolute; width: 100%; }
  
.innie-2, .outie-2 {
    height: 100%;
    background-image: -webkit-linear-gradient(top, transparent 0%, rgba(0,0,0,.1) 100%);
    border-radius: .25rem;
}
  
.facebook-logo {
    width: 40px;
    height: 40px;
    filter: drop-shadow(0 1px 2px rgba(0,0,0,.25));
    
}
  
.innie-2 {
    background-color:#4267B2;
    text-shadow: 0 -2px 4px rgba(0,0,0,.2);
}
  
.spine-2 {
    top: .25rem;
    background: #4267B2;
    height: .25rem;
    transform: rotateX(90deg);
    transform-origin: center top;
}
  
.shadow-2 {
    top: 100%;
    left: 0;
    height: 3.5rem;
    transform-origin: center top;
    transform: rotateX(90deg);
    opacity: 0;
    z-index: 0;
    background-image: -webkit-linear-gradient(top, rgba(0,0,0,.6) 0%, transparent 100%);
    background-image: linear-gradient(to bottom, rgba(0,0,0,.6) 0%, transparent 100%);
    border-radius: .4rem;
  
}
  
.outie-2 {
    background-color: #4267B2;
    transform: translateZ(.25rem);
    text-shadow: 0 2px 4px rgba(0,0,0,.2);
}
  
.section-2:hover { background: white; }
.section-2:hover .button-2 { opacity: 1; }
  
.section:hover .cover-2, .section-2:hover .innie-2, .section-2:hover .spine-2, .section-2:hover .outie-2 .section-2:hover .spine-2 { transition-timing-function: cubic-bezier(.2,.7,.1,1.1); }
  
.section-2:hover .cover-2 { transform: rotateX(-120deg);  }
  
.section-2:hover .innie-2 { background-color: #4267B2; }
.section-2:hover .spine-2 { background-color: #4267B2; }
.section-2:hover .outie-2 { background-color: #282282; color: rgba(255,255,255,0); }
  
.section-2:hover .shadow-2 { 
    opacity: 1;
    transform: rotateX(45deg) scale(.95);
}
  

.section-3, section div {
    
    transition-duration: .6s;
}
  
  
.section-3, .button-3 { transition-timing-function: ease; }
  
.section-3 {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    padding: .375rem .375rem 0;
    height: 2.5rem;
    background: #A9ADB6;
    border-radius: .25rem;
    perspective: 300;
    box-shadow: 0 -1px 2px #fff, inset 0 1px 2px rgba(0,0,0,.2), inset 0 .25rem 1rem rgba(0,0,0,.1);
    margin-bottom: 50px;
    margin-left: 10%;
    margin-right: 10%;
}
  

.button-3 { opacity: 0; 
  
        a {
        font-family: 'Bebas Neue', cursive;
        font-style: italic;
        text-decoration: none;
        font-size: 30px;
        color: #bc2a8d;
    }
  
}


.cover-3 {
    position: absolute;
    top: 0; right: 0; bottom: 0; left: 0;
    transform-origin: center bottom;
    transform-style: preserve-3d;
    font: 1.25em/2 "icon";
    
    text-align: center;
    pointer-events: none;
    z-index: 100;
}
  
.innie-3, .outie-3, .spine-3, .shadow-3 { position: absolute; width: 100%; }
  
.innie-3, .outie-3 {
    height: 100%;
    background-image: -webkit-linear-gradient(top, transparent 0%, rgba(0,0,0,.1) 100%);
    border-radius: .25rem;
}
  
.instagram-logo {
    width: 40px;
    height: 40px;
    filter: drop-shadow(0 1px 2px rgba(0,0,0,.25));
    
}
  
.innie-3 {
    background-color:#8a3ab9;
    text-shadow: 0 -2px 4px rgba(0,0,0,.2);
}
  
.spine-3 {
    top: .25rem;
    background: #bc2a8d ;
    height: .25rem;
    transform: rotateX(90deg);
    transform-origin: center top;
}
  
.shadow-3 {
    top: 100%;
    left: 0;
    height: 3.5rem;
    transform-origin: center top;
    transform: rotateX(90deg);
    opacity: 0;
    z-index: 0;
    background-image: -webkit-linear-gradient(top, rgba(0,0,0,.6) 0%, transparent 100%);
    background-image: linear-gradient(to bottom, rgba(0,0,0,.6) 0%, transparent 100%);
    border-radius: .4rem;
  
}
  
.outie-3 {
    background-color: #bc2a8d;
    transform: translateZ(.25rem);
    text-shadow: 0 2px 4px rgba(0,0,0,.2);
}
  
.section-3:hover { background: white; }
.section-3:hover .button-3 { opacity: 1; }
  
.section:hover .cover-3, .section-3:hover .innie-3, .section-3:hover .spine-3, .section-3:hover .outie-3 .section-3:hover .spine-3 { transition-timing-function: cubic-bezier(.2,.7,.1,1.1); }
  
.section-3:hover .cover-3 { transform: rotateX(-120deg);  }
  
.section-3:hover .innie-3 { background-color: #bc2a8d; }
.section-3:hover .spine-3 { background-color: #bc2a8d; }
.section-3:hover .outie-3 { background-color: #8a176d; color: rgba(255,255,255,0); }
  
.section-3:hover .shadow-3 { 
    opacity: 1;
    transform: rotateX(45deg) scale(.95);
}
  
  
  

/*sección 5*/

.champions-league {
    width: 100%;
    margin-bottom: 30px;
    padding-left: 10px;
    padding-right: 10px;
}

.manchester-city {
    width: 100%;
    margin-bottom: 30px;
    padding-left: 10px;
    padding-right: 10px;
}

.boxeo {
    width: 100%;
    margin-bottom: 30px;
    padding-left: 10px;
    padding-right: 10px;
}

.nba {
    width: 100%;
    margin-bottom: 30px;
    padding-left: 10px;
    padding-right: 10px;
}

.paredes {
    width: 100%;
    margin-bottom: 30px;
    padding-left: 10px;
    padding-right: 10px;
}

.leoncitas {
    width: 100%;
    margin-bottom: 30px;
    padding-left: 10px;
    padding-right: 10px;
}

.sección5 {
    font-style: italic;
    padding-left: 10px;
    padding-right: 10px;

        h4 {
            display: flex;
            justify-content: center;
            align-content: center;
            margin-top: 30px;
            padding-left: 10px;
            padding-right: 10px;
            text-align: center;   
        }
}

.container-fluid {
    margin-top: 50px;
}

.h4-seccion5 {
   
}

/*Sección 6*/

.contenedor-header {
    
    background-size:100%;
    
}

.fondo-animado {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    z-index: -1;

}

span.uno,
span.dos,
span.tres,
span.cuatro {
    border: 0;
    display: block;
    position: absolute;
    bottom: 0;
    left: 0;
    background-color: black;
    animation: vuelta 7s linear infinite normal both;
    border-radius: 50%;
}


span.uno {
    width: 100px;
    height: 100px;
    bottom: -100px;
    background-color: yellow;
}

span.dos {
    width: 70px;
    height: 70px;
    bottom: -70px;
    background-color: yellow;
}

span.tres {
    width: 50px;
    height: 50px;
    bottom: -50px;
    background-color: yellow;
}

span.cuatro {
    width: 20px;
    height: 20px;
    bottom: -20px;
    background-color: yellow;
}

@keyframes vuelta {
    from {
        bottom: 0;
        opacity: 0;
    }
    5% {
        opacity: 1;
    }
    60% {
        opacity: 1;
    }
    to {
        bottom: calc(100% + 100px);
        opacity: 0;
    }

}

.fondo-animado span:nth-child(1) {
    left: 5%;
}

.fondo-animado span:nth-child(2) {
    left: 10%;
}

.fondo-animado span:nth-child(3) {
    left: 15%;
}

.fondo-animado span:nth-child(4) {
    left: 40%;
}

.fondo-animado span:nth-child(5) {
    left: 65%;
}

.fondo-animado span:nth-child(6) {
    left: 70%;
}

.fondo-animado span:nth-child(7) {
    left: 35%;
}

.fondo-animado span:nth-child(8) {
    left: 85%;
}

.fondo-animado span:nth-child(9) {
    left: 45%;
}

.fondo-animado span:nth-child(10) {
    left: 65%;
}

.fondo-animado span:nth-child(11) {
    left: 55%;
}

.fondo-animado span:nth-child(12) {
    left: 60%;
}

span.delay-1 {
    animation-delay: 1s;
}

span.delay-2 {
    animation-delay: 2s;
}

span.delay-3 {
    animation-delay: 3s;
}

span.delay-4 {
    animation-delay: 4s;
}

span.delay-6 {
    animation-delay: 5s;
}

span.delay-7 {
    animation-delay: 6s;
}

.seccion6 {
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: 'Bebas Neue', cursive;
    font-size: 45px;
    font-style: italic;
    text-shadow: 7px 5px 5px black;
    color: white;
    align-content: center;
    padding-top: 30px;
    padding-left: 10px;
    padding-right: 10px;
}

.list-group-6 {
    background-color: transparent;
    
    a {
        display: flex;
        color: black;
        font-family: 'Bebas Neue', cursive;
        font-style: italic;
        justify-content: center;
        font-size: 25px;  
        background-color: transparent;
    }
}

.contenedor-bandera {
    display: flex;
    height: 220px;
    width: 100%;
    background-color: lightblue;
    text-align: center;
    align-items: center;
    justify-content: center;
    
    
   


}

.header-seccion6 {
    background-color: lightblue;
}

.h1-seccion6 {
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: 'Bebas Neue', cursive;
    font-size: 70px;
    font-style: italic;
    text-shadow: 7px 5px 5px black;
    color: white;
    align-content: center;
    padding-top: 30px;
    padding-left: 10px;
    padding-right: 10px;
}

.h2-seccion6 {
    margin-top: 40px;
    display: flex;
    justify-content: center;
    align-content: center;
    padding-left: 10px;
    padding-right: 10px;
    text-align: center; 
}

.texto-finalissima {
    margin-top: 40px;
    font-style: italic;
    margin-left: 10px;
    margin-right: 10px;
    margin-bottom: 20px;
   
}

.contenedor-carousel {
    
    padding-left: 10px;
    padding-right: 10px;
    margin-bottom: 50px;
    
}

.video-finalissima {
    width: 100%;
    margin-top: 20px;
    padding-left: 10px;
    padding-right: 10px;
}
