* {
    padding: 0;
    margin: 0;
}

/*Sección 1*/

body {
    height: 100%;
}
header {
    height: 25vh;
    background-color: red;
}

h1 {
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: 'Tinos', serif;
    font-size: 50px;
    font-style: italic;
    text-shadow: 7px 5px 5px black;
    color: white;
    align-content: center;
    padding-top: 30px;
    padding-left: 10px;
    padding-right: 10px;
    
}

.list-group a {
    display: flex;
    color: black;
    font-family: 'Bebas Neue', cursive;
    font-style: italic;
    justify-content: center;
    font-size: 25px;
}

h2 {
    display: flex;
    justify-content: center;
    align-content: center;
    margin-top: 30px;
    padding-left: 10px;
    padding-right: 10px;
    text-align: center;
}

.video-di-maria {
    width: 100%;
    margin-top: 20px;
    padding-left: 10px;
    padding-right: 10px;
}


span {
    color: red;
}


.texto-di-maria {
    margin-top: 20px;
    font-style: italic;
    padding-left: 10px;
    padding-right: 10px;
   
}

.video-f1 {
    width:100%;
    margin-top: 20px;
    padding-left: 10px;
    padding-right: 10px;
}

.texto-f1 {
    margin-top: 20px;
    font-style: italic;
    padding-left: 10px;
    padding-right: 10px;
   
}

.imagen-barty {
    width:100%;
    margin-top: 20px;
    padding-left: 10px;
    padding-right: 10px;
}

.texto-barty {
    margin-top: 20px;
    font-style: italic;
    padding-left: 10px;
    padding-right: 10px;
   
}

.imagen-aramburu {
    width:100%;
    margin-top: 20px;
    padding-left: 10px;
    padding-right: 10px;
}

.texto-aramburu {
    margin-top: 20px;
    font-style: italic;
    padding-left: 10px;
    padding-right: 10px;
    margin-bottom: 50px;
}

/*Sección 2*/

.contenedor {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin: auto;
    margin-bottom: 50px;

}

.contenedor .noticias {
    width: 330px;
    height: 430px;
    border-radius: 8px;
    box-shadow: 0 2px 2px rgba(0, 0, 0, 0.2);
    overflow: hidden;
    margin: 20px;
    text-align: center;
    transition: all 0.25s;

}

.contenedor .noticias:hover {
    transform: translateY(-15px);
    box-shadow: 0 12px 16px rgba(0, 0, 0, 0.2);

}

.contenedor .noticias img {
    width: 330px;
    height: 220px;

}

.contenedor .noticias h4 {
    margin-top: 5px;
    font-weight: 1000;
}

.contenedor .noticias p {
    font-size: 16px;
    font-weight: 600;
    align-items: center;
    padding: 0 1rem
}

.contenedor .noticias a {
    font-weight: 1000;
    text-decoration: none;
    color: #3498db;
    
}

footer {
    background-color:#242321;
}

/*Sección 3*/


.h2-tabla {
    color: red;
    border-style: none;
    font-size: 30px;
    
}

.h2-primera-fase {
    text-align: center;
    margin-bottom: 20px ;
}

.grid-wrapper-tb {
    display: grid;
    grid-template-columns: auto;
    grid-template-rows: auto;



}

.grupo-a {
    text-align: center;
    margin-bottom: 30px;
}

.tabla-de-posiciones {
    color:  black;
    background-color: white;
    border:  black;
    text-align: center;
    justify-content: center;
    align-content: center;
    
}

.grupo-b {
    text-align: center;
    justify-content: center;
    margin-top: 30px;
    margin-bottom: 30px;
}

.tabla-de-posiciones-2 {
    color: black;
    background-color: white;
    border: black;
    text-align: center;
    margin-bottom: 50px;
    
}

/*Sección 4*/

.charla-con-nosotros {
    margin-bottom: 30px;
}

textarea {
    width: 100%;
}
  

.envianos-tu-opinion {
    text-align: center;
    margin-bottom: 40px;
}

.seguinos-en-redes {
    text-align: center;
    margin-bottom: 50px;
}

/*sección 5*/

.champions-league {
    width: 100%;
    margin-bottom: 30px;
    padding-left: 10px;
    padding-right: 10px;
}

.manchester-city {
    width: 100%;
    margin-bottom: 30px;
    padding-left: 10px;
    padding-right: 10px;
}

.boxeo {
    width: 100%;
    margin-bottom: 30px;
    padding-left: 10px;
    padding-right: 10px;
}

.nba {
    width: 100%;
    margin-bottom: 30px;
    padding-left: 10px;
    padding-right: 10px;
}

.paredes {
    width: 100%;
    margin-bottom: 30px;
    padding-left: 10px;
    padding-right: 10px;
}

.leoncitas {
    width: 100%;
    margin-bottom: 30px;
    padding-left: 10px;
    padding-right: 10px;
}

.sección5 {
    font-style: italic;
    padding-left: 10px;
    padding-right: 10px;
}






.list-group {

    margin-bottom: 50px;
}

.carousel-caption p {
    font-size: 50px;
}

.carousel-caption h5 {
    font-size: 30px;
}

.container-fluid {
    margin-top: 50px;
}

@media  screen and (min-width:425px) {

    .tabla-de-posiciones {
        margin-left: 80px;
    }

    .tabla-de-posiciones-2 {
        margin-left: 80px;
    }

}

@media screen and (min-width:768px) {

    .tabla-de-posiciones {
        margin-left: 250px;
    }

    .tabla-de-posiciones-2 {
        margin-left: 250px;
    }
    
}

@media screen and (min-width:1024px) {

    .video-di-maria {
        padding-left: 60px;
        padding-right: 60px;
       
    }

    .texto-di-maria {
        padding-left: 60px;
        padding-right: 60px;
    }

    .video-f1 {
        padding-left: 60px;
        padding-right: 60px;
    }

    .texto-f1 {
        padding-left: 60px;
        padding-right: 60px;
    }
    
    .imagen-barty {
        padding-left: 60px;
        padding-right: 60px;
    }

    .texto-barty {
        padding-left: 60px;
        padding-right: 60px;
    }

    .imagen-aramburu {
        padding-left: 60px;
        padding-right: 60px;
    }

    .texto-aramburu {
        padding-left: 60px;
        padding-right: 60px;
    }

    .tabla-de-posiciones {
        margin-left: 350px;
    }

    .tabla-de-posiciones-2 {
        margin-left: 350px;
    }

    .champions-league {
        padding-left: 60px ;
        padding-right: 60px;
    }
    
    .texto1-sección5 {
        padding-left: 60px ;
        padding-right: 60px;
    }

    .manchester-city {
        padding-left: 60px ;
        padding-right: 60px;
    }

    .texto2-sección5 {
        padding-left: 60px ;
        padding-right: 60px;
    }

    .boxeo {
        padding-left: 60px ;
        padding-right: 60px;
    }

    .texto3-sección5 {
        padding-left: 60px ;
        padding-right: 60px;
    }

    .nba {
        padding-left: 60px ;
        padding-right: 60px;
    }

    .texto4-sección5 {
        padding-left: 60px ;
        padding-right: 60px;
    }

    .paredes {
        padding-left: 60px ;
        padding-right: 60px;
    }

    .texto5-sección5 {
        padding-left: 60px ;
        padding-right: 60px;
    }

    .leoncitas {
        padding-left: 60px ;
        padding-right: 60px;
    }

    .texto6-sección5 {
        padding-left: 60px ;
        padding-right: 60px;
    }

}


    